
<form action="/signup" method="post">
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username">
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" type="text" name="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Create account">
    </div>
</form>
<p>
  <a href="/login">Login to your account</a>
<p>


<!-- Notes:
  use form 'action'=URL -- will send form-data to URL when form is submitted
  is the href a redirect to login???

 -->